body {
    font-family: 'Roboto', sans-serif;
    background-color: #faf8f5;
    margin: 0;
}

button {
    border-radius: 0;
}

.automaton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

canvas#states {
    border: 2px solid black;
    margin: 10px;
    user-select: none;
    width: 70%;
}

table#queue {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 1em;
    margin: 0.5vw;
}

table#queue th, table#queue td {
    border: 1px solid black;
    width: 3vw;
    height: 1.5vw;
    text-align: center;
    vertical-align: middle;
    padding: 0.5vw;
}

table#queue th {
    background-color: lightsteelblue;
}

table#queue td {
    background-color: whitesmoke;
}

#game_window {
    padding: 20px;
    width: 50%;
    margin: 1vh auto;
    background-color: white;
    border: 2px solid black;
}

#word {
    font-size: 2em;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    background-color: whitesmoke;
    border: 2px solid grey;
}


.popup-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.popup {
    background: white;
    border: 2px solid black;
    padding: 5px 20px 20px;
    margin: auto;
    width: fit-content;
    position: relative;
    top: 40%;
    user-select: none;
}

.popup h2 {
    font-size: 2em;

}

.popup p {
    background-color: white;
    color: black;
    font-size: 1.3em;
    padding: 10px;
}

.popup button {
    margin: auto;
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
}

.projectile {
    position: absolute;
    z-index: 50;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.prev_next {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#game_window button {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 0;
}

.prev_next #prev {
    float: left;
}

.prev_next #next {
    float: right;
}

.projectile.red {
    background-color: red;
}

.sidebar {
    float: left;
    width: 18vw;
    height: 90vh;
    overflow-y: scroll;
}

.description {
    float: right;
    height: 90vh;
    width: 20vw;
}

.description section {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    height: 100%;
    overflow-y: scroll;
}

.description p {
    font-size: 1.1em;
}



.description code {
    font-size: 1.1em;
    background-color: #E0E0E0;
    padding: 2px;
}

.description pre > code {
    padding: 0;
    background-color: transparent;
}

.description pre {
    padding: 10px;
    background-color: #E5E5E5;
    width: 90%;
    border: 2px solid grey;
}

nav {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

nav ol {
    list-style-type: none;
}

nav button {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 0;
    width: 100%;
    border: 0;
}